Sistem Monitoring (Receiver)/Json Node-Red
[
    {
        "id": "f18ddd7823859bc8",
        "type": "tab",
        "label": "Lalu Lintas",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c049bcb05875b2c4",
        "type": "mqtt in",
        "z": "f18ddd7823859bc8",
        "name": "",
        "topic": "vehicle_counter/esp32_001/count_down",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e1072777f8536eb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "afa41d4bde59d25a",
                "c0bbfa7de095d3e8"
            ]
        ]
    },
    {
        "id": "afa41d4bde59d25a",
        "type": "ui_text",
        "z": "f18ddd7823859bc8",
        "group": "35c4a73a4bb16346",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Arus Turun",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "f05e2c6bbd22c92f",
        "type": "mqtt in",
        "z": "f18ddd7823859bc8",
        "name": "",
        "topic": "vehicle_counter/esp32_001/total_vehicles",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e1072777f8536eb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "cd56d45e5cc1bf4a"
            ]
        ]
    },
    {
        "id": "cd56d45e5cc1bf4a",
        "type": "ui_text",
        "z": "f18ddd7823859bc8",
        "group": "35c4a73a4bb16346",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total Kendaraan",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "a76280f882775b05",
        "type": "mqtt in",
        "z": "f18ddd7823859bc8",
        "name": "",
        "topic": "vehicle_counter/esp32_001/traffic_status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e1072777f8536eb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "9ee1b821bb373484"
            ]
        ]
    },
    {
        "id": "9ee1b821bb373484",
        "type": "ui_text",
        "z": "f18ddd7823859bc8",
        "group": "35c4a73a4bb16346",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status Jalan",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "1a1653e96a98750f",
        "type": "mqtt in",
        "z": "f18ddd7823859bc8",
        "name": "",
        "topic": "vehicle_counter/esp32_001/ip_address",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e1072777f8536eb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 320,
        "wires": [
            [
                "683d309ee7fce58a"
            ]
        ]
    },
    {
        "id": "683d309ee7fce58a",
        "type": "ui_text",
        "z": "f18ddd7823859bc8",
        "group": "35c4a73a4bb16346",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ip address",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "f7719317305cf1d2",
        "type": "mqtt in",
        "z": "f18ddd7823859bc8",
        "name": "",
        "topic": "vehicle_counter/esp32_001/count_up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e1072777f8536eb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "5953c73bdf944b89",
                "c0bbfa7de095d3e8"
            ]
        ]
    },
    {
        "id": "5953c73bdf944b89",
        "type": "ui_text",
        "z": "f18ddd7823859bc8",
        "group": "35c4a73a4bb16346",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Arus Naik",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "084a096a9440f40e",
        "type": "mqtt in",
        "z": "f18ddd7823859bc8",
        "name": "",
        "topic": "vehicle_counter/esp32_001/device_id",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e1072777f8536eb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 380,
        "wires": [
            [
                "eec80b101290a833"
            ]
        ]
    },
    {
        "id": "eec80b101290a833",
        "type": "ui_text",
        "z": "f18ddd7823859bc8",
        "group": "35c4a73a4bb16346",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "device id",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "efcdb166deb67893",
        "type": "mqtt in",
        "z": "f18ddd7823859bc8",
        "name": "",
        "topic": "vehicle_counter/esp32_001/wifi_rssi",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "e1072777f8536eb3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 440,
        "wires": [
            [
                "671c85b2d9042c1c"
            ]
        ]
    },
    {
        "id": "671c85b2d9042c1c",
        "type": "ui_text",
        "z": "f18ddd7823859bc8",
        "group": "35c4a73a4bb16346",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RSSI",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "70376e0edf4426e0",
        "type": "ui_template",
        "z": "f18ddd7823859bc8",
        "group": "35c4a73a4bb16346",
        "name": "history",
        "order": 10,
        "width": 2,
        "height": 1,
        "format": "<div>\n    <button id=\"openSpreadsheetBtn\" style=\"min-width: fit-content; padding: 8px 16px; font-size:16px; background-color:#2196F3; color:white; border:none; cursor:pointer; border-radius:5px;\">\n        History\n    </button>\n</div>\n\n<script>\n    document.getElementById('openSpreadsheetBtn').addEventListener('click', function() {\n        var spreadsheetId = \"1UNLNQO1mLIXXL9IqXYOnKJeJXJf4OiZg9gNZ2T4gc_U\"; // ID Google Spreadsheet\n        var url = \"https://docs.google.com/spreadsheets/d/\" + spreadsheetId + \"/edit\";\n        window.open(url, '_blank');\n    });\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 210,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "c0bbfa7de095d3e8",
        "type": "ui_chart",
        "z": "f18ddd7823859bc8",
        "name": "",
        "group": "35c4a73a4bb16346",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Grafik",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#cfcfcf",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "5bc9fcbec1719b70",
        "type": "ui_spacer",
        "z": "f18ddd7823859bc8",
        "name": "spacer",
        "group": "35c4a73a4bb16346",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "e1072777f8536eb3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "35c4a73a4bb16346",
        "type": "ui_group",
        "name": "Smart Monitoring",
        "tab": "63f3bebcf6f31b51",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "63f3bebcf6f31b51",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "927ebfe49275bb77",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.5"
        }
    }
]
